
{% extends 'base.html' %}
{% load static %}
{% block title %} Nwovu Sunday {% endblock title %}

{% block content %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-row">
    
<div class="w3-container w3-twothird profile">
  <div class="span3"> <img src="{% static 'img/sunfull.jpg' %}" alt="Nwovu Sunday"> </div>
  <div class="span5">
    <h1>Nwovu Sunday</h1>
    <h3>Python (Django) Developer &amp; <br>Data Scientist</h3>
    <p> I am Nwovu Sunday, a Web Developer and Data Scientist. 
        I studied Computer/Statistics in University of Nigeria.
        <br>
    Professional background includes ability to use various tools like Excel, SPSS and Python for data exploration, 
    preparation and presentation, and Django framework for web development. <br>
        If you have anything to be done, I am here for you. </p>
    </div>
</div>
<div class="w3-container w3-third profile">
    <h1>Who Am I?</h1>
    <span style="color: green; font-size: large;">I'm Nwovu Sunday (Honesty) </span>
    <p class="w3-animate-bottom">A self-motivated, and upward mobile solution driven young man; 
        seeking for opportunities to learn, serve, grow, innovate and improve upon. And to become member of well-motivated team and result oriented professionals, who deliver excellent 
        solutions in products and services that ensure clients’ continuous satisfaction and patronage. 
     
    </p>
    <a href="#" class="hire-me"><i class="fas fa-paper-plane"></i> Hire Me </a>
    </div>
</div>

{% endblock content %}
