{% extends 'base.html' %}
{% load static %}
{% block title %} Nwovu Sunday -Resume {% endblock title %}

{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="container resume">
  <h2>My Resume</h2>
  <h3>My Professional background includes ability to use various tools like Excel, SPSS and Python for data exploration, 
    preparation and presentation, and Django framework for web development.
  <br>You can download my resume for your perusal for all my details and I hope that we will meet very soon! </h3>
  <div class="btn-center"> <a href="{% static 'img/Nwovu_Sunday_CV.pdf' %}" class="hire-me" target="_blank"><i class="fas fa-file-export"></i> Download Resume</a>
    <h2>284kb</h2>
  </div>
</div>

{% endblock content %}
