{% extends 'base.html' %}
{% load static %}
{% block title %} Nwovu Sunday -Skills {% endblock title %}
{%block style%}
<style>
  .footer_social_icon .fa,  .footer_social_icon .fab{
    background: #11d170 none repeat scroll 0 0;
    border-radius: 5px;
    color: #222;
    font-size: 20px;
    height: 45px;
    padding: 12px;
    text-align: center;
    width: 45px;
}


.fa, .fab {
	display: inline-block;
}
.footer_item .footer_social_icon .fa:hover,.footer_item .footer_social_icon .fa:focus {
    background: #d7a300 none repeat scroll 0 0;
}

.footer_social_icon .fa:hover,  .footer_social_icon .fab:hover {
	text-decoration:none;
	background: #355267;
	border: 5px double #11d170;
}

@media (max-width: 479px){
.list-inline.footer_social_icon > li {
        padding: 8px 3px;
    }

}
ul.footer_social_icon { 
	list-style: none;
	display: flex; 
	justify-content: center;
}

ul.footer_social_icon li{
	float: left;
	margin: 10px;
}

</style>
{% endblock style %}
{% block content %}

<div class="container skills">
  <h2>My Skills</h2>
  <div class="row">
    <div class="span3">
      <div class="ds">
        <h3>DS</h3>
      </div>
    </div>
    <div class="span5">
      <h3>Machine Learning and Deep Learning <span>90%</span></h3>
      <div class="expand-bg"> <span class="expand ds2"> &nbsp; </span> </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div class="ps">
        <h3>PG</h3>
      </div>
    </div>
    <div class="span5">
      <h3>Python (Django) & RESTFUL APIS<span>80%</span></h3>
      <div class="expand-bg"> <span class="expand ps2"> &nbsp; </span> </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div class="html">
        <h3>HTML5</h3>
      </div>
    </div>
    <div class="span5">
      <h3>HTML5 <span>85%</span></h3>
      <div class="expand-bg"> <span class="expand html2"> &nbsp; </span> </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div class="ai">
        <h3>JS</h3>
      </div>
    </div>
    <div class="span5">
      <h3>JavaScript <span>75%</span></h3>
      <div class="expand-bg"> <span class="expand ai2"> &nbsp; </span> </div>
    </div>
  </div>
 
  <div class="row">
    <div class="span3">
      <div class="css">
        <h3>CSS3</h3>
      </div>
    </div>
    <div class="span5">
      <h3>CSS3 <span>65%</span></h3>
      <div class="expand-bg"> <span class="expand css2"> &nbsp; </span> </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div class="bs">
        <h3>BS</h3>
      </div>
    </div>
    <div class="span5">
      <h3>BBOTSTRAP & W3.CSS <span>60%</span></h3>
      <div class="expand-bg"> <span class="expand bs2"> &nbsp; </span> </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div class="vjs">
        <h3>V.JS</h3>
      </div>
    </div>
    <div class="span5">
      <h3>Vue.Js <span>5%</span></h3>
      <div class="expand-bg"> <span class="expand vjs2"> &nbsp; </span> </div>
    </div>
  </div>
</div>

  <div class="container">
    <img class="image" src="{% static 'img/skillsbart.png' %}">
  </div>
{% endblock content %}
